@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkcyan;
  
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline;
  margin-left: 20px;
}

header ul li a {
  color: black;
  text-decoration: none;
}

.product-details {
  display: flex;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.product-details img {
  max-width: 300px;
  margin-right: 20px;
}

.product-info h2 {
  margin-top: 0;
}

.product-info button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.comments-section {
  margin: 20px;
}

#comments-container {
  margin-bottom: 20px;
}

#comment-input {
  width: 100%;
  padding: 10px;
}

#submit-comment-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
