@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
}


.header-container {
  padding: 20px;
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo h1 {
    font-size: 24px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    margin: 0 10px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu ul li a:hover {
    text-decoration: underline;
}

/* Cart Section */
.cart-section {
    width: 80%;
    height: 74vh;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-item-info {
    flex-grow: 1;
    margin-left: 15px;
}

.cart-item-info h4 {
    margin-bottom: 5px;
    color: #333;
}

.cart-item-info p {
    margin-bottom: 10px;
}

.remove-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #ff4500;
}

/* Cart Summary Section */
.cart-summary {
    text-align: right;
}

.checkout-btn {
    padding: 12px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #ff4500;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}